* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
